<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>Randevu İşlemleri</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Free HTML Templates" name="keywords">
  <meta content="Free HTML Templates" name="description">

  <!-- Favicon -->
  <link href="/img/favicon.ico" rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

  <!-- Customized Bootstrap Stylesheet -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid sticky-top bg-white shadow-sm">
  <div class="container">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
      <a href="#index" class="navbar-brand">
        <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-clinic-medical me-2"></i>Hastane Randevu Sistemi</h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0"  id="navbar-nav">
          <a href="#index" class="nav-item nav-link active">Ana Sayfa</a>
          <a href="#about" class="nav-item nav-link">Hakkımızda</a>
          <a href="#service" class="nav-item nav-link">Hizmetler</a>

          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Veriler</a>
            <div class="dropdown-menu m-0">

              <a th:href="@{report}" class="dropdown-item">Raporlar</a>
              <a th:href="@{prescription}" class="dropdown-item">Reçeteler</a>
              <a th:href="@{finding}" class="dropdown-item">Sonuçlar</a>
              <a th:href="@{appointments}" class="dropdown-item">Randevular</a>

            </div>
          </div>
          <a href="#contact" class="nav-item nav-link">iletişim</a>
        </div>
      </div>
    </nav>
  </div>
</div><br>
  </div>
</div>
<!-- Section: Design Block -->
<section class="login">
  <!-- Jumbotron -->
  <div class="px-4 py-5  text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
    <div class="container">


        <div class="col-lg-12 mb-1 mb-lg-0">
          <div class="card">
            <div class="card-body py-3 ">
              <form style="text-align: center">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div>
                  <h1 class="m-0 text-uppercase text-primary mb-2">Randevu İşlemleri</h1>
                  <div class="col-lg-6  mb-4" style="    display: inline-block;
    float: left;">
                    <input type="text"  class="form-control" id="patientName" disabled/>
                  </div>

                  <div class="col-lg-6  mb-4" style="     display: inline-block;">
                    <input type="text"  class="form-control" id ="patientSurName" disabled/>
                  </div>

                  <div class="col-lg-12  mb-4" >
                    <textarea type="text"  rows="3" class="form-control" id ="prescriptionArea" placeholder="Reçete"></textarea>
                  </div>

                  <div class="col-lg-12  mb-4" >
                    <textarea type="text"  rows="3"  class="form-control" id ="reportArea" placeholder="Rapor"></textarea>
                  </div>



                  <!-- Submit button -->
                  <div class="col-lg-6  mb-4" style="    display: inline-block;
    float: left;">
                  <input type="button" class="btn btn-danger btn-block mb-4" value="İptal Yap" id="cancelAppointmentBtn"/>
                  </div>
                  <div class="col-lg-6  mb-4" style="     display: inline-block;">
                  <input type="button" class="btn btn-primary btn-block mb-4" value="Tamamla" id="okAppointmentBtn"/>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/tempusdominus/js/moment.min.js"></script>
<script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
</body>
</html>